.body{
    background-image: url("../Assets/backgroundImage.png");
}
.home{
 margin-left: 2.5%;
 margin-top: .5%;
 display: flex;
 width:97%;
 

 /* border: 1px solid red; */
 /* flex-direction: column; */
 
}
.legendDiv{
    width:98.6%;
    height: 15px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  
    /* overflow-x: scroll; */
}

.firstROw{
    /* border: 1px solid blue; */
    width:100%;
    display: flex; 
    flex-direction: column;
}
.legendsubdiv{
  width:8px;
  height: 8px ;
  margin-right: 10px;
  text-align: center;
 
}
.legendtext{
    font-size: 10px;
}


@media screen and (max-width: 650px) {
    .home{
        display: flex;
        flex-direction: column;;
    }
.firstROw {
    width:100%;
        display: flex;
        flex-direction: column;
    }
        .legendDiv{
            overflow-x: scroll;
        }
    
}

