.common {
    border: 1px solid black;
    width: 95%;
    /* height: 500px; */
    margin-top: 6%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    padding-left: 2%;
    margin-right: 2%;
    font-size: 12px;
    /* background: linear-gradient(to bottom right,#D6FA0F,white);
     */
}


.imagediv {
    width: 25%;
    /* border:1px solid black; */
    height: 45px;
    margin-top: -6%;
    /* margin-left: 2%; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    font-size: 20px;

}
#pdfFilesMarginLeft{
    border-left: 4px solid greenyellow;
}
#docFilesMarginLeft {
    border-left: 4px solid green;
}
#youtubeFilesMarginLeft{
    border-left: 4px solid red;
}
#confluenceFilesMarginLeft{
    border-left: 4px solid blue;
}
#productFilesMarginLeft{
    border-left: 4px solid orange;
}
#tutorialsFilesMarginLeft {
    border-left: 4px solid rgb(59, 240, 240);
}
#whiteFilesMarginLeft {
    border-left: 4px solid brown;
}

.imagediv img {
    width: 100px;
    height: 40px;
    margin-top: 3px;
    margin-left: 10px;
}

.datadiv {
    /* border: 1px solid blue; */
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 2%;
}

.innerdivs {
    width: 95%;
    display: flex;
    border: 1px solid rgb(196, 194, 194);
    /* justify-content: space-between; */
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1px;
}

.innerdivs  a {
    text-decoration: none;
}

.innerdivs a:hover {
    color: blue;
}

.pdf-logo {
    width: 25px;
}

.doc-logo {
    width: 20px;
}

.link-logo {
    width: 19px;
}

/* .firstROw {
    display: flex;
} */
.pdfFilesdiv {
    border: 2px dashed blue;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    /* border-radius: 3px; */
}

.youtubeDiv {
    border: 2px dashed red;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
.youtube-logo {
    margin: auto;
    width: 23px;
}
.linkDiv {
    border: 2px dashed black;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
.totirial{
    border: 2px dashed green;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.guides {
    border: 2px dashed brown;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
.colorAndFont {

    color: #63666A;
    font-weight: 500;
    
    

}

@media screen and (max-width: 1080px) {
    .imagediv {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .imagediv {
        width: 32%;
    }
}

@media screen and (max-width: 650px) {

    .common {
        width: 95%;
        margin-top: 6%;
    }
}
